extends layout

block content
  .jumbotron
    h1 Home display
    p.lead Home display is a UI for a raspberry pi home monitoring project.
    p
      // a.btn.btn-primary.btn-large(href='http://expressjs.com/') Learn more &raquo;
  .row
    .col-md-4
      h2 Raspberry pi
      p The Raspberry Pi is a credit card-sized single-board computer developed in the UK by the Raspberry Pi Foundation with the intention of promoting the teaching of basic computer science in schools.
      p
        a.btn.btn-default(href='http://www.raspberrypi.org/') Learn more &raquo;
    .col-md-4
      h2 Download source code
      p This project is open source. Fork it on github.
      p
        a.btn.btn-default(href='https://github.com/acsehi/HomeAutomatization') Download &raquo;
    .col-md-4
      h2 Microsoft Azure
      p Azure is used to store data and run the website in the cloud.
      p
        a.btn.btn-default(href='http://azure.microsoft.com') Learn more &raquo;
