extends layout

block content
  h1= title
  br

  table.table.table-striped.table-bordered
      tr
        td time
        td temp
        td huminity
      if (typeof observations === "undefined")
        tr
          td 
      else
        each observation in observations
          tr
            td #{observation.datetime._}
            td #{observation.temp._}
            td #{observation.humidity._}